/* resets */
*
{
  border: 0px;
  padding: 0px;
  margin: 0px;
}
body
{
  color: #555;
}
ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
img
{
  max-width: none;
}
form
{
  margin-bottom: 0px;
}

/* google maps */
html, body, #map_canvas 
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
#map_canvas
{
  top: 0px;
  bottom: 0px;
  z-index: 1;
}


/*  hide mobile menu */
.menu_mobile
{
  display: none;
}



/* topbar nav */
.topbar
{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  min-width: 850px;
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.topbar .left
{
  overflow: hidden;
  min-width: 600px;
  position: absolute;
}
.topbar .right
{
  float: right;
  padding: 3px 5px 0px 0px;
}
.topbar .logo
{
  padding: 11px 10px 0px 20px;
  float: left;
  line-height: 60px;
}
.topbar .logo a
{
  display: inline-block;
}
.topbar .logo a img
{
  display: block;
}
.topbar .buttons
{
  float: left;
  line-height: 60px;
  margin: -1px 15px 0px 20px;
}
.topbar .buttons .btn
{
  font-size: 8pt;
  padding: 6px 8px;
}
.topbar .buttons .btn i
{
  opacity: .5;
  margin: 0px 4px 0px 0px;
}
.topbar .buttons .btn:hover i
{
  opacity: 1;
}
.topbar .attribution
{
  float: right;
  line-height: 60px;
  color: #777;
  font-size: 11px;
  font-weight: normal;
  line-height: 130%;
  padding: 13px 15px 0px 15px;
}
.topbar .attribution
{
  margin-right: 15px;
}
.topbar .share
{
  float: right;
  line-height: 0px;
  color: #777;
  padding: 17px 10px 20px 10px;
}
.topbar .share div,
.topbar .share iframe
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.topbar .share .btn
{
  text-shadow: none;
}
.topbar .search
{
  float: left;
  line-height: 60px;
}
.topbar .search input
{
  margin-top: 8px;
  width: 160px;
  font-size: 8pt;
  padding-left: 26px;
  background-image: url("./images/icon-search.png");
  background-position: 8px center;
  background-repeat: no-repeat;
}
.topbar .combob 
{
  float: left;
  margin-top: 8px;
  width: 110px;
  line-height: 60px;
 -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
   display: inline-block;
padding-left: 10px;
font-size: 8pt;
}
 .topbar .combob .option
{ 
 }

.topbar .combob .select
{
background:#FFF;
  padding-left: 26px;
}


/* marker list, right-side gutter */
.menu
{
  position: absolute;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 250px;
}
.menu .blurb,
.menu .attribution
{
  color: #999;
  font-size: 8pt;
  font-weight: normal;
  line-height: 1.3em;
  padding: 12px 10px 0px 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.menu .blurb a,
.menu .attribution a
{
  color: #ccc;
}
.menu .blurb a:hover,
.menu .attribution a:hover
{
  color: #fff;
}
.menu .blurb
{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.menu .attribution
{
  padding-bottom: 40px;
}



/* collapsible list */
.list
{
  z-index: 3;
  right: 0;
  top: 0;
  height: 100%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow-y: scroll;
  background-color: #333;
}
.typeahead.dropdown-menu
{
  max-width: 170px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.4);
}
.typeahead.dropdown-menu li
{
  font-size: 8pt;
}
.list .category
{
  font-size: 11pt;
  color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.list .category img
{
  margin-right: 5px;
}
.list .category span
{
  opacity: .5;
}
.list .category .category_item
{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.list .category .category_item:hover
{
  background-color: rgba(255,255,255,.03);
}
.list .category .category_info
{
  display: block;
  overflow: hidden;
  padding: 3px 6px;
  color: #eee;
}
.list .category .category_info:hover 
{
  text-decoration: none;
}
.list .category .category_info:focus
{
  outline: none;
}
.list .category .category_toggle
{
  float: right;
  padding: 10px;
  height: 26px;
  cursor: pointer;
}
.list .category .category_toggle.inactive
{
  opacity: .15;
}
.list .category .category_toggle.inactive:hover
{
  opacity: .5;
}
.list .category .category_toggle input
{
  display: none;
}
.list .category .category_toggle
{
  background-image: url("./images/icons/check.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 30px;
}
.list .list-items
{
  display: none;
}
.list .list-items li
{
  border-top: 1px solid rgba(255,255,255,.03);
}
.list .list-items li a
{
  display: block;
  font-size: 8pt;
  padding: 5px 10px;
  outline: none;
  color: #ccc;
  font-weight: normal;
  line-height: 1.4em; 
}
.list .list-items li a:hover
{
  background-color: rgba(255,255,255,.03);
  text-decoration: none;
  outline: none;
  color: #fff;
}
.list .list-items li a:active
{
  color: #fff;
  background-color: #444;
}



/* markers */
.marker_label
{
  display: none;
  position: relative; 
  left: -50%; 
  top: -8px;
  white-space: nowrap; 
  padding: 2px 4px; 
  font-size: 8pt; 
  background-color: rgba(0,0,0,.7); 
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.marker_title
{
  font-weight: bold;
	font-family: lilyupc !important;
	font-size: 24px !important; /* 1.5em */
  margin-bottom: 10px;
}
.marker_uri
{
  font-size: 9pt;
  color: #999;
	#text-align: center;
	overflow: hidden;
  max-width: 420px;
}
.marker_desc
{
  max-width: 380px;
  width: 100%;
  color: #555;
  font-size: 9pt;
  margin-top: 5px;
  text-align: justify;
  width: 100%;

}

.marker_desc span{
	font-weight: bold;
	font-family: lilyupc !important;
	font-size: 24px !important; /* 1.5em */
}

.marker_address
{
  font-size: 8pt;
  color: #B2B2B2;
}
.marker_date
{
  #font-size: 8pt;
  color: #999;

	color: #878787;
	font-size: 11px !important; /* 0.7em */
	font-family: itcavantgardestdbk !important;
}



/* modals */
.modal
{
  background-color: transparent;
}
.modal .modal-header
{
  background-color: #444;
  color: #f5f5f5;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
.modal .modal-header h3
{
  text-shadow: 0px 1px 0px #000;
}
.modal .modal-body
{
  background-color: #fff;
}
.modal .close
{
  color: #fff;
  opacity: .7;
  text-shadow: 0px 1px 0px #000;
}
.modal .close:hover
{
  color: #fff;
  opacity: 1;
}


/* add marker modal */
#modal_add
{
}
#modal_add .modal-body
{
}
#modal_add fieldset
{
}
#modal_add .control-label
{
  font-weight: bold;
}
#modal_add .help-block
{
  font-size: 8pt;
  color: #777;
  max-width: 275px;
}
#modal_add .modal-footer
{
  text-align: left;
}


/* get info modal */
#modal_info
{
}
#modal_info .modal-body
{
  max-height: none;
}
#modal_info p
{
}
#modal_info .connect a,
#modal_info .connect span
{
  display: inline-block;
  vertical-align: middle;
}
#modal_info .connect span
{
  margin-right: 5px;
}
#modal_info .badges
{
  max-width: 500px;
  overflow: hidden;
  clear: both;
  text-align: center;
  margin: 10px 0px;
}
#modal_info .badges li
{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}


/* choose submission method modal (only visible if Startup Genome integration is enabled) */
#modal_add_choose ul li em
{
  display: block;
  font-weight: bold;
  font-style: normal;
  margin-bottom: .5em;
}
#modal_add_choose ul li
{
  margin-top: 25px;
}


.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(images/sprite-deportes.png);}

.ciclismo {width:31px; height:42px; background-position: -96px -0px}
.deportes_de_invierno {width:30px; height:41px; background-position: -31px -87px}
.deportes_nauticos {width:30px; height:43px; background-position: -0px -44px}
.escalada {width:30px; height:42px; background-position: -94px -43px}
.experiencia {width:30px; height:42px; background-position: -63px -86px}
.motociclismo {width:31px; height:43px; background-position: -0px -0px}
.piraguismo {width:31px; height:42px; background-position: -64px -0px}
.running {width:30px; height:42px; background-position: -63px -43px}
.senderismo {width:31px; height:42px; background-position: -32px -0px}
.triatlon {width:31px; height:42px; background-position: -31px -44px}


/* TIPOGRAFIAS */

@font-face{
font-family: itcavantgardestdbk;
src: url('email/fonts/itcavantgardestdbk.eot?#iefix') format('embedded-opentype'),
    url('email/fonts/itcavantgardestdbk.ttf') format('truetype');
}

@font-face{
font-family: lilyupc;
src: url('email/fonts/lilyupc.eot?#iefix') format('embedded-opentype'),
    url('email/fonts/lilyupc.ttf') format('truetype');
}

/* AÑADIDOS */

div#menu_superior{
	width: 100%;
	height: 32px;
	text-align: center;
}

div#menu_sup_pestanya1,
div#menu_sup_pestanya2,
div#menu_sup_pestanya3,
div#menu_sup_pestanya4{
	display: inline-block;
	width: 96px;
	height: 32px;
	margin-right: 3.5px;
	margin-left: 3.5px;
}

div#menu_sup_pestanya2,
div#menu_sup_pestanya3,
div#menu_sup_pestanya4{
	background-image: url('images/pestanya_off.png');
}

div#menu_sup_pestanya1{
	background-image: url('images/pestanya_on.png');
}

#menu_sup_pestanya1 a,
#menu_sup_pestanya2 a,
#menu_sup_pestanya3 a,
#menu_sup_pestanya4 a{
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	font-weight: bold;
}

div#capa1,
div#capa2,
div#capa3,
div#capa4{
	width: 100%;
	height: auto; /* debería de ser auto!!! */
	margin-top: 20px;
	overflow: hidden;
}

div#contenedor_sup_izq{
	float: left;
	max-width: 61%;
	width: 61%;
  padding-right: 2%;
}

div#contenedor_sup_der{
	float: right;
	max-width: 37%;
	width: 37%;
	#position: relative;
	bottom: 100%;
}

div#contenedor_inferior{
	width: 100%;
}

div#asistire,
div#megustaria,
div#heparticipado{
font-weight: bold;
display: inline-block;
padding-left: 5px;
}

div#centrar_img{
	padding-top: 25px; 
	text-align: center;
}

#centrar_img img{
	padding-top: 20px;
}

.marker_uri span{
	color: #1D1D1B;
	font-family: lilyupc !important;
	font-size: 22px !important; /* 1.4em */
}

.marker_uri button{
	font-family: itcavantgardestdbk !important;
	font-weight: bold;
	background-color: #009FC6;
	color: #FFFFFF;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	width: 70px;
	height: 25px;
	margin-top: 10px;
}

hr{
	border: solid 1px #EAEAEA;
	#width: 100%;
}

div#valoracionGeneral,
div#valoracionPorCriterios,
div#recomienda,
div#comentario{
	font-family: lilyupc !important;
	font-weight: bold;
	font-size: 23px; 
	padding-left: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
}

div#dificultad,
div#organizacion,
div#atractivo,
div#actComplementarias,
div#precio{
	padding-left: 40px;
	font-size: 13px;
}

.txt_val1{
	display: table-cell;
	width: 100%;
	font-family: lilyupc !important;
	font-weight: bold !important;
	font-size: 23px !important; 
}

.txt_val2{
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

.estrellas_val{
	display: table-cell;
	min-width: 105px; /* 90+12+espacio*/
}

.nota_val{
	display: table-cell;
	text-align: right;
	min-width: 60px;
	#line-height: 50%;
	vertical-align: middle;
}

div#logo_asistire,
div#logo_megustaria,
div#logo_heparticipado{
display: inline;
}

div img.marker_img{
  max-height: 50px;
}